/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 100vh;
  top: 0;
  position: relative;
  overflow: hidden;
  background-image: url("/img/get-started.png");
  background-attachment: fixed;
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
    background-position-x: -03px;
  }
}

.getStarted:hover {
  color: black;
  background-color: whitesmoke;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 150px;
  width: 150px;
}

.getStarted {
  border-color: #333;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}

.row {
  display: flex;
  justify-content: center;
  max-width: 60vw;
  margin: 0 auto;
}

@media screen and (min-width: 350px) and (max-width: 996px) {
  .main {
    height: 165vh;
  }

  .row {
    flex-direction: column;
  }
}

@media screen and (min-width: 760px) and (max-width: 996px) {
  .main {
    height: 110vh;
  }
}

@media screen and (max-width: 360px) {
  .main {
    height: 190vh;
  }
}

@media screen and (max-width: 320px) {
  .row {
    flex-direction: column;
  }
}
