/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 100vh;
  top: 0;
  position: relative;
  overflow: hidden;
  background-image: url("/static/img/get-started.png");
  background-attachment: fixed;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.getStarted:hover {
  color: black;
  background-color: whitesmoke;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 150px;
  width: 150px;
}

.getStarted {
  border-color: #333;
}

.main {
  height: 100vh;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}
