/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #fff;
  --ifm-color-primary-dark: rgb(190, 197, 196);
  --ifm-color-primary-darker: rgb(155, 155, 155);
  --ifm-color-primary-darkest: rgb(162, 163, 163);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__logo {
  width: 125px;
  height: auto;
}

.hero__title,
.hero__subtitle,
.menu__link,
.navbar__link {
  color: #000;
  transition: all ease 0.3s;
}

.table-of-contents__link {
  transition: all ease 0.3s;
}

.navbar {
  padding: 0 80px 0;
}

.hero__subtitle span,
.table-of-contents__link--active,
.navbar__link--active,
.navbar__link:hover,
.menu__link:hover,
.table-of-contents__link:hover {
  color: #ff6619;
}

a {
  color: #175ff8;
  transition: all ease 0.3s;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.footer {
  padding: 50px 50px 15px;
}

.footer__logo {
  max-width: 13em;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 2em;
  }

  .hero__title {
    font-size: 2.6rem;
  }
}
